body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: rgb(84, 235, 209);
  background: linear-gradient(
    90deg,
    rgba(189, 1, 200, 1) 0%,
    rgba(255, 195, 0, 1) 100%
  );
}

button {
  cursor: pointer;
}
